# =========================
# Python
# =========================
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env

# =========================
# Node / React
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# Uploads / Evidence Storage
# =========================
backend/uploads/
uploads/

# =========================
# Blockchain / DB files
# =========================
blockchain_data.json
*.sqlite3
*.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db